/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Inconsolata', monospace;*/

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Playfair Display', serif;
	color: #626262;
}
.wrapper {
	overflow: hidden;
	width: 90%;
	margin: 25px auto;
}
.logo {
	width: 15%;
	float: left;
}
.logo img {
	width: 100%;
	margin-top: 3px;
}
.menu {
	width: 60%;
	float: right;
}
.menu ul {
	float: right;
	margin:12px 0 10px 0;
}
.menu ul li {
	list-style: none;
	float: left;
}
.menu ul li a {
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	color: #626262;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 40px;
}
.menu ul li:last-child a {
	padding-right: 0;
}
.menu ul li a:hover {
	color: black;
	transition: .4s;
}
.banner {

}
.bnr_img {

}
.bnr_img img {
	width: 100%;
}
section {

}
.wrapper2 {
	overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.light {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #C8C3B9;
    margin-top: 30px;
}
.perfect {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 30px;
    color: #626262;
    margin:17px 0 25px 0;

}
.p-light {
	margin-top: 60px;
}
.perfect_p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
    line-height: 1.8;
} 

.blog {
	margin-top: 90px;
}
.boxes {
    width: 45%;
    float: left;
    margin: 46px 0;
}
.boxes img {
	width: 100%;
}

.boxes:nth-child(even) {
	margin-left: 5%;
}
.news_container {
	text-align: center;
	background-color: #F0F0F0;
	width: 100%;
	height: 320px;
}
.sign_up {
	width: 60%;
	text-align: center;
	margin:0 auto;

}
.for_form {
    position: relative;
    margin-top: 93px;
    width: 420px;
    margin-left: 193px;
}
.for_form input {
	border: none;
    background: transparent;
    border-bottom: 1px solid black;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 400px;
    /*position: absolute;*/
    right: 470px;
}
.sign_up button {
    border: none;
    position: absolute;
    top: 0;
    right: 7px;
}
.news {
	width: 60%;
    padding-left: 150px;
}
.news h2 {
    padding-top: 72px;
} 
.learn_more {
	padding-top: 60px;
    padding-left: 42%;
    margin-bottom: 100px;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family: 'Playfair Display', serif;
	font-size:20px;
	font-weight:300;
	padding:19px 41px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background-color: #F0F0F0;
}
.myButton:active {
	position:relative;
	top:1px;
}
footer {
    background-color: #F0F0F0;
    height: 100px;
}
.terms {
	width: 35%;
    float: left;
    padding-top: 38px;
}
.terms ul {
    list-style: none;
   
}
.terms ul li {
    margin-right: 12px; 
     float: left;
}
.terms ul li a {
    text-decoration: none;
    color: #626262;
    font-weight: 400;
}
.social {
    width: 50%;
    float: right;
    padding-top: 38px;
}
.social ul {
    float: right;
    list-style: none;
}
.social ul li {
    float: left;
    margin-left: 10px;
}
.social ul li a {
    display: inline-block;
}